/* @import '~animate.css/animate.min'; */


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #DF4E4E !important;
  }
  
  .mat-radio-checked .mat-radio-inner-circle {
      background-color: #DF4E4E !important;
  }
  
  ::ng-deep .mat-radio-checked .mat-radio-outer-circle {
   border-color: #DF4E4E !important;
  }
  
  ::ng-deep .mat-radio-checked .mat-radio-inner-circle {
   background-color: #DF4E4E !important;
  }
  
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  
   background-color: #DF4E4E !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
   background-color: #DF4E4E !important;
  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#DF4E4E !important;
  }

  .autocompletado-modal-flotante {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 400px;
    max-height: 300px;
    background: #fafafa;
    box-shadow: 2px 2px 5px #999;
    border-radius: 1em;
    overflow: auto;
  }