<main class="flex  justify-center ">
    <div  class="w-1/2">

        <div class="w-full">
            <div class="pt-5">
                <div class="flex justify-between gap-2 items-center">
                  <span class="tituloacota font-medium animate__animated animate__fadeInDown text-3xl ">Contacto Familiar</span>
                  <mat-slide-toggle (change)="validateFamily($event.checked)" class="example-margin">
                  </mat-slide-toggle>
                </div>
                <div class="acotacion">Completar los siguientes datos de un familiar.</div>
            </div>
            
            <div *ngIf="desplegarContactoF === true" class="animate__animated  animate__jackInTheBox h-auto w-full ">
                <!-- Datos: Contacto FAmiliar -->
                <div class="grid grid-cols-2  gap-4 pt-4">
                  <!-- Combobox: Nacionalidad -->
                  <div class="sm:col-span-1 col-span-2 gap-3 w-full  ">
                    <span class="titulos">Tipo de documento</span>
                    <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                      <div class="col-span-2">
                        <mat-select placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 " formControlName="idtipodocumentofamiliar">
                          <mat-option  class="option-ch uppercase">uno</mat-option>
                          <mat-option  class="option-ch uppercase">dos</mat-option>
                          <mat-option  class="option-ch uppercase">tres</mat-option>
                        </mat-select>
                        <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                      </div>
                    </div>
                  </div>
            
                  <!-- Input: Numero de documento -->
                  <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
                    <span class="titulos">Número de documento</span>
                    <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                      <div class="col-span-2">
                        <input placeholder="Escribe" type="text" class="seclect"  formControlName="numerodocumentofamiliar"   >
                        <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                      </div>
                    </div>
                  </div>
            
                  <!-- Input: Apellidos -->
                  <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
                    <span class="titulos">Apellidos</span>
                    <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                      <div class="col-span-2">
                        <input placeholder="Escribe" type="text" class="seclect uppercase"  formControlName="apellidosfamiliar" >
                        <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                      </div>
                    </div>
                  </div>
            
                  <!-- Input: Nombres -->
                  <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
                    <span class="titulos">Nombres</span>
                    <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                      <div class="col-span-2">
                        <input placeholder="Escribe" type="text" class="seclect uppercase"  formControlName="nombresfamiliar" >
                        <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                      </div>
                    </div>
                  </div>
            
                  <!-- Input: Celular -->
                  <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
                    <span class="titulos">Celular</span>
                    <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                      <div class="col-span-2">
                        <input placeholder="Escribe" type="text" class="seclect " formControlName="celularfamiliar"  >
                      </div>
                    </div>
                  </div>
            
                  <!-- Input: Dirección -->
                  <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
                    <span class="titulos">Dirección</span>
                    <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                      <div class="col-span-2">
                        <input placeholder="Escribe" type="text" class="seclect uppercase" formControlName="direccionfamiliar"  >
                      </div>
                    </div>
                  </div>
            
                </div>
            
            </div>
    
        </div>
        <div class="w-full">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="pt-2 flex space-y-3 flex-col justify-start w-full uppercase" formControlName="asignacionfamiliar">
                <mat-radio-button class="option-ch uppercase" [value]="true"> Si </mat-radio-button>
                <mat-radio-button class="option-ch uppercase" [value]="false"> No </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="w-full">
            <span class="p-6 text-black text-base ">
                <div class="w-full relative  ">
                  <label class="text-label text-white">Télefono</label>
                  <div class="p-2  seclect w-full uppercase">
                    <mat-chip-list  class="uppercase py-2   w-full" #chipList aria-label="Fruit selection">
                    <mat-chip class=" focus:outline-none "  *ngFor="let fruit of fruits" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(fruit)">
                        {{fruit.name}}
                        <button matChipRemove *ngIf="removable">
                        <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input (click)="onAbrirAutoCompletado()" class=" focus:outline-none   rounded-lg  " type="text"  placeholder="ejm: 954554122"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                  </div>
                  
                  <fieldset *ngIf="listadoautocompletado" class="autocompletado-modal-flotante pt-4 contenidoautocompletado" id="myModal">
                    <div *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">Proyecto</div>
                  </fieldset>
                </div>
             </span>
        </div>

        <div class="w-full">
            <!-- ejecucion de aparecer y desaparecer -->
            <span>
                <button (click)="modal =!modal">
                modal
                </button>
                <div class="animated animate__fadeInLeft infinite " *ngIf="!modal">
                <div class=" ">
                    <button (click)="modal =!modal" class=" bg-black text-white  ">cerrar</button>
                </div>
                </div>
            </span>
        </div>
    </div>
</main>