.cuerpo{
  height: 100vh;
}

.nav{
  height: 5vh;
}
.main{
  height: 90vh;
  display: flex;
  width: 100%;
}

.foo{
  height: 5vh;
}

.side{
  width: 16.666667%;
  background-color: rgba(243, 244, 246)
}

.root{
  width: 83.333333%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

