<app-loading></app-loading>
<body class="cuerpo">
  <!-- navbar -->
  <nav class="nav"> <app-navbarweb></app-navbarweb></nav>
  <!-- Sidebar - Rutas -->
  <main class="main">
    <!-- Sidebar -->
    <div class="side">
      <app-sidebarweb></app-sidebarweb>
    </div>
    <!-- Rutas -->
    <div class="root">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- footer -->
  <app-footerweb class="foo"></app-footerweb>
  
</body>
