.fooconte{
  background-color: rgb(7, 1, 17);
  color: white;
  justify-content: center;
  text-align: center;
  height: 5%;
}

.footer{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
