
<app-loading></app-loading>
<header class="contpadre">
  <img src="assets/img/todo.png" alt="">
  <form action="" class="formulario">
      <!-- username -->
      <label for="" class="entrada">
          <span class="titulo">Username:</span>
          <span><input class="input" type="text"></span>
      </label>
      <!-- password -->
      <label for="" class="entrada">
          <span class="titulo">Password:</span>
          <span><input class="input" type="password"></span>
      </label>
      <!-- Registrate -->
      <button (click)="onRegister()" class="registrate" for="">Registrate</button>
      <!-- button: Ingresar -->
      <div class="pt-3">
          <button (click)="onWeb()"  class="btningreso">Ingresar</button>
      </div>
  </form>
</header>


