<header class="contpadre">

  <img src="assets/img/todo.png" alt="">
  <form action="" class="formulario">
      <!-- username -->
      <label for="" class="entrada">
          <span class="titulo">Username:</span>
          <span><input class="input" type="text"></span>
      </label>
      <!-- password -->
      <label for="" class="entrada">
          <span class="titulo">Password:</span>
          <span><input class="input" type="password"></span>
      </label>
      <!-- repeat password -->
      <label for="" class="entrada">
          <span class="titulo">Repeat Password:</span>
          <span><input class="input" type="password"></span>
      </label>
      <!-- login -->
      <button (click)="onLogin()" class="login" for="">login</button>
      <!-- button: Ingresar -->
      <div class="pt-3">
          <button  class="btningreso">Registrar</button>
      </div>
  </form>

</header>


