/* .menuopc{
  display: flex;
  gap:0.5rem;
  padding: 1rem;
  cursor: pointer;
  border-bottom-width: 1px;
  border-right-width: 1px;
  align-items: center;
  color:black;

}

.menuopc:hover{
  background-color: rgba(37, 99, 235);
  color:white;
}

.contenedor{
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  height: 100%;
} */

/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */

/* *{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

nav{
  width: 100%;
  height: 90vh;
  background: white;
  overflow: hidden;
  color: white;
}

aside{
  width: 100%;
  height: 100%;
  background: rgb(13, 0, 49);
  float: left;
}

aside div {
  color: white;
  font-size: 1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-top: 3em;
  padding-bottom: 3em;
  justify-content: center;
} */

/* aside ul{
  padding: 5px 0 5px 30px;
} */

/* aside ul li{
  list-style: none ;
  font-weight: bold;
  margin: 20px auto;
  position: relative;
  max-height: 35px;
  overflow: hidden;
  line-height: 35px;
  transition: 1s;
  text-transform: capitalize;
  padding-left: 1em;
  cursor: pointer;
}

aside ul:first-child li{
  max-height: 50px;
}

aside ul li:hover{
  background: #d1d1d173;
}

aside ul:first-child li:hover{
  background: none;
}

aside ul li a{
  text-decoration: none;
  color:whitesmoke;
}
aside ul li a i {
  width: 30px;
  padding: 5px;
  margin-right: 10px;
}

aside ul li a i.fa-angle-right{
  position: absolute;
  right: 0;
  top:5px;
  transition: 0.5s;
}

aside ul li>ul{
  padding: 1px;
  margin: 0 0 0 20px;
}

aside ul li > ul li{
  height: 25px;
  line-height: 20px;
  font-size: 15px;
  padding: 1px 1px 1px 20px;
  font-weight: normal;
  border-left: 1px solid #fff0f0;
  margin: 5px;
  color: #fff0f0;
  cursor: pointer;
}

aside ul li > ul li a ,
aside ul li:target >ul li a{
  background: transparent;
}

aside ul li:target{
  max-height: 300px;
  border-radius: 5px 0px 0px 5px;
}

aside ul li:target a{
  color:  #444;
  display: inherit;
  background: white;
}

aside ul li:target a i.fa-angle-right{
  transform: rotate(90deg);
  top: 10px;
}

aside ul li:target:hover{
  background: initial;
} */



/* @import url('https://use.fontawesome.com/releases/v5.15.1/css/all.css');  */

*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.middle{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  width:  300px;
  border-radius: 8px;
  overflow:  hidden;
}

.item{
  border-top: 1px solid #2980b7;
  overflow:  hidden;
}

.btn{
  display: block;
  padding: 16px 20px;
  background:  #3498db;
  color: white;
}

.btn:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3498db;
  left: 20px;
  bottom:  -7px;
  transform: rotate(45deg);
}

.btn i{
  margin-right: 10px;
}

.smenu {
  background:  #333;
  overflow: hidden;
  transition:  max-height 0.3s ;
  max-height: 0;
}

.smenu a {
  display: block;
  padding: 16px 20px;
  color: white;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}

.smenu a::before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background:#3498db ;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.smenu a:hover::before{
  opacity: 1;
}

.item:target .smenu{
  max-height: 10em;
}
