  <!-- <main>
  <div class="contenedor">
    <div class="menuopc"> <span><svg-icon src="assets/img/user.svg"></svg-icon></span> <span> Inicio </span> </div>
    <div class="menuopc"> <span><svg-icon src="assets/img/star.svg"></svg-icon></span> <span> Angular Material </span> </div>
    <div class="menuopc"> <span><svg-icon src="assets/img/book.svg"></svg-icon></span> <span> Componentes Css </span> </div>
  </div>
</main>  -->

<!-- <body>
  <nav>
    <aside>
      <div class="flex items-center h-[35px] text-lg">
        <svg-icon class="w-10 object-contain" src="assets/img/user.svg"></svg-icon>
        <span>Coding Nile</span>
      </div>
      <ul>
        <li id="home">
          <a href="#home">
            <i class="fa fa-home"></i>
            <span>Home</span>
            <i class="fa fa-angle-right"></i>
            <ul>
              <li><p>Normal Home</p></li>
              <li><p>Comercial Home</p></li>
              <li><p>Dynamic Home</p></li>
            </ul>
          </a>

        </li>
        <li id="ecom">
          <a href="#ecom">
            <i class="fa fa-shopping-cart"></i>
            <span>E-commerce</span>
            <i class="fa fa-angle-right"></i>
            <ul>
              <li><p>Products</p></li>
              <li><p>Orders</p></li>
              <li><p>Credits Card</p></li>
            </ul>
          </a>

        </li>
        <li id="comp">
          <a href="#comp">
            <i class="fa fa-diamond"></i>
            <span>Component</span>
            <i class="fa fa-angle-right"></i>
          </a>
          <ul>
            <li><p>Generals</p></li>
            <li><p>Panels</p></li>
            <li><p>Tables</p></li>
            <li><p>Icons</p></li>
            <li><p>Forms</p></li>
          </ul>
        </li>
        <li id="chart">
          <a href="#chart">
            <i class="fa fa-line-chart"></i>
            <span>Chart</span>
            <i class="fa fa-angle-right"></i>
          </a>
          <ul>
            <li><p>Pie chart</p></li>
            <li><p>Line chart</p></li>
            <li><p>Bar chart</p></li>
            <li><p>Histogram Bar</p></li>
          </ul>
        </li>
        <li id="user">
          <a href="#user">
            <i class="fa fa-users"></i>
            <span>Customers</span>
            <i class="fa fa-angle-right"></i>
          </a>
          <ul>
            <li><p>stable customers</p></li>
            <li><p>new customers</p></li>
            <li><p>old customers</p></li>
            <li><p>deactive customers</p></li>
            <li><p>re-active customers</p></li>
          </ul>
        </li>
        <li id="task">
          <a href="#task">
            <i class="fa fa-tasks"></i>
            <span>Task</span>
            <i class="fa fa-angle-right"></i>
          </a>
          <ul>
            <li><p>html navbars</p></li>
            <li><p>css navbars</p></li>
            <li><p>css animation</p></li>
            <li><p>css card</p></li>
            <li><p>responsive navbars</p></li>
          </ul>
        </li>
        <li id="even">
          <a href="#even">
            <i class="fa fa-calendar-check-o"></i>
            <span>Events</span>
            <i class="fa fa-angle-right"></i>
          </a>
          <ul>
            <li><p>meeting</p></li>
            <li><p>marketing</p></li>
            <li><p>overview</p></li>
            <li><p>video conferences</p></li>
          </ul>
        </li>
      </ul>
    </aside>
    <header>
        <div class="banner">
          <h6></h6>
          <div class="details">
            <h1>Air-Pods</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut inventore et sapiente adipisci pariatur, accusantium at, illo id iusto vel voluptatibus magni voluptatem placeat illum maxime tempore nemo? Illo, minima.</p>
            <svg-icon src="assets/img/star.svg"></svg-icon>
          </div>
        </div>
        <p>Scroll down for more</p>
    </header>
  </nav>
</body> -->

<nav class="middle">
  <div class="menu">
    <li class="item" id="profile">
      <a (click)="onNosotros()"  class="btn"> <i class="far fa-user"></i>Nosotros </a>
      <div class="smenu">
        <a  >Posts</a>
        <a href="#">Picture</a>
      </div>
    </li>
    <li class="item" id="messages">
      <a href="#messages" class="btn"> <i class="far fa-envelope-open"></i>Messages </a>
      <div class="smenu">
        <a href="#">new</a>
        <a href="#">sent</a>
        <a href="#">spam</a>
      </div>
    </li>
    <li class="item" id="settings">
      <a href="#settings" class="btn"> <i class="fas fa-cog"></i>Setting </a>
      <div class="smenu">
        <a href="#">password</a>
        <a href="#">lenguages</a>
      </div>
    </li>
    <li class="item">
      <a class="btn"  href="#"> <i class="fas fa-sign-out-alt"></i> Logout </a>
     
    </li>

  </div>

</nav>