<main class="continicio ">
  <section class="titbienvenida flex w-full justify-between">
   <span class="flex justify-center w-full animated animate__fadeInLeft infinite">Bienvenido UPUMM</span> 
    

  </section>

  <div class="contcontenido">
    <div class="contpluma">
      <svg-icon class="svgpluma" src="assets/img/inicio/pluma.svg"></svg-icon>
    </div>
  

  


  </div>
</main>

