

/* Border de los input y textarea */
textarea:focus,
textarea[type]:focus,
input:focus,
input[type]:focus {
  border-color: #1491ED;
  box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(39, 145, 236);
  outline: 0 none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* Eliminar el spiket de los tipos number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.continicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: rgba(251, 191, 36);
}

.titbienvenida{
  background-color: rgba(220, 38, 38);
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 10vh;
  justify-content: space-between;
}

.contcontenido{
  display: flex;
  background-color: rgb(5, 12, 27);
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 0.5em;
}

.contpluma{
  border-radius: 100%;
  height: 15vh;
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 48, 163)
}

.svgpluma{
  object-fit: contain;
  width: 40%;
  color: white;
}



.example-chip-list {
  width: 100%;
}



.contenidoautocompletado>table>tbody>tr {
  padding: 10px;
  font-family: sans-serif;
  color: #808080;
  cursor: pointer;
}

.contenidoautocompletado>table>tbody>tr:hover {
  color: #000;
  cursor: pointer;
  background: #eee;
}

.text-anti {
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  color: #5E5E60;
}

.noentregado {
  color: #363636;
  font-weight: 500;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  background: #C1C1C1;
  font-weight: 500;
  border-radius: 40px;
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.entregado {
  color: #219AF2;
  font-weight: 500;
  padding: 2px 10px 2px 10px;
  background: #C1C1C1;
  font-weight: 500;
  background: rgba(33, 154, 242, 0.1);
  border-radius: 40px;
  font-size: 12px;
}

.cotiza {
  color: #6E7882;
  font-size: 12px;
}

@keyframes slidein {
  from {
      margin-bottom: -100%;
      width: 100%
  }
  to {
      margin-top: 0%;
      width: 100%;
  }
}

.nombr {
  font-weight: 500;
  font-size: 13px;
}

.noanulado {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #6E7882;
}

.anulado {
  color: #EA3E3E;
}

.text-xs {
  font-size: 12px;
}

.color {
  color: #6E7882;
}

.cale {
  width: 28px;
  height: 28px;
}

.flex {
  display: flex;
}

.h-full {
  height: 280px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  z-index: 100;
}

.btn {
  font-size: 14px;
  gap: 10px;
  height: 45px;
  text-transform: none;
  --border-radius: 6px;
  margin: 10px 10px 0 10px;
}

.input-calendar {
  width: 100%;
  font-size: 13px;
  border: none;
  color: #455A64;
  background: #F4F5F8;
  font-family: 'Poppins', sans-serif;
}

.input-calendar:focus {
  outline: none;
}

.datepikerbut {
  padding: 3px;
  border-radius: 100%;
}

.datepikerbut:focus {
  outline: none;
}

.icons-calen {
  width: 35px;
  height: 35px;
  color: #455A64;
}

.inicio {
  font-size: 13px;
  font-weight: 500;
  color: #455A64;
  font-family: 'Poppins';
}


.animacion {
  animation-duration: 0.5s;
  animation-name: slidein;
}

.shadow {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-top: 10px;
}

/* .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1491ED !important;
}

.mat-radio-checked .mat-radio-inner-circle {
    background-color: #1491ED !important;
}

::ng-deep .mat-radio-checked .mat-radio-outer-circle {
 border-color: #1491ED !important;
}

::ng-deep .mat-radio-checked .mat-radio-inner-circle {
 background-color: #1491ED !important;
}


::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {

 background-color: #1491ED !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
 background-color: #1491ED !important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#1491ED !important;
} */


