<main class="conte">
  <nav class="nav">
    <span class="cursor-pointer">
      <svg-icon class="w-12 object-contain" src="assets/img/menu.svg" ></svg-icon>
    </span>
    <span>Bienvenido a la estructura de LazyLoad</span>
  </nav>

   <!-- nav right -->
   <ul class="navbar-nav nav-right  items-center space-x-6 w-full flex justify-end">
    <li class="nav-item avt-wrapper flex gap-2">
        
        <!-- Notificacion -->
        <div type="button" class="relative">
            <button (click)="onNotificacion()" class="relative flex w-full items-center focus:outline-none">
                <span  class="focus:outline-none flex items-center">
                   
                    <span class="relative pr-1 md:pr-3">
                        <!-- campanita -->
                        
                        <svg-icon src="asssets/img/campanita.svg"></svg-icon>
                      
                    </span>
                </span>
            </button>
            <!-- Boton:Sedes -->
            <div *ngIf="notification">
                <div style="z-index: 1000;" class="absolute md:top-12 top-24 right-3 w-[260px] lg:w-[330px] bg-white overflow-y-auto h-97 border border-plomo-110 ">
                    <div class="p-2  border-b border-plomo-110">
                        <div class="lg:text-2xl text-lg text-amarillo-500 ">Notificaciones</div>
                    </div>
                    <div class="flex flex-col">
                        un
                    </div>                
                </div>
            </div>
        </div>

      
    </li>
</ul>
</main>
