



.conte{
  background-color: rgb(10, 85, 246);
  /* padding: 20px; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1rem;
}

.nav{
  display: flex;
  gap: 2em;
  align-items: center;
  color: white;
  font-size: large;
}
